#page-wrap {
    margin: auto;
    width: 35%;
	height: 40%;
    border: 5px solid #243A3A;
    padding: 20px 20px;
}

#page-wrap-table {
    margin: auto;
    width: 35%;
	height: 40%;
    padding: 20px 20px;
}

#page-wrap-login {
    margin: auto;
    width: 35%;
	height: 30%;
    border: 5px solid #243A3A;
    padding: 20px 20px;
}
	
#textfield {
	border-style:solid;
	border-color:#768080;
	border-width: 1px;
	background-color:transparent;
	width: 235px;
}

#approved {
	background-color:#22C100;
	color: #F8FFF7;
	padding: 15px 10px;
}

#rejected {
	background-color:#9C0000;
	color: #F8FFF7;
	padding: 15px 10px;
}

#waiting-for-approval {
	background-color:#CE8400;
	color: #F8FFF7;
	padding: 15px 10px;
}

.helvetica {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

.tahoma {
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}



.foottahoma {
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
	color: #3F4E4E;
}

.errortahoma {
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
	color: #FF0000;
}

.roundedcorners {
	border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px; 
    width: 200px;
    height: 150px;
}

.right {
  text-align: right;
  margin-right: 1em;
}

.btn {
  color: #ffffff;
  font-size: 12px;
  background: #3b4247;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: 0;
}

.btn:hover {
  background: #60c6d1;
  text-decoration: none;
}

.table1 {
    border-collapse: collapse;
    width: 100%;
}

.th1 {
    text-align: left;
    padding: 8px;
}

.th1 {
	font-family: Tahoma, Verdana, Segoe, sans-serif;
    text-align: left;
    padding: 8px;
	background-color: #243A3A;
    color: white;
}

.td1 {
    text-align: left;
    padding: 8px;
}

